<h1>Directivas Estructurales</h1>

<!-- <div class="container">
<h2>*ngIf</h2>
    <div>
        <h3>Frutas</h3>
        <div *ngIf="isVisible">
            <div>
                <ul>
                    <li *ngFor="let fruta of frutas; let i = index">
                        {{i+1}} .- {{fruta}}
                    </li>
                </ul>
            </div>
        </div>
        <button (click)="isVisible = !isVisible">Mostrar/Ocultar</button>
    </div>
</div> -->

<app-todo></app-todo>