<h1>Directivas Estructurales</h1>

<!-- ngSwitch
 <h3>Panel de Usuario</h3>
<div [ngSwitch]="rolUsuario">
    <p *ngSwitchCase="'admin'">Eres Administrador</p>
    <p *ngSwitchCase="'user'">Eres un Usuario normal</p>
    <p *ngSwitchCase="'invitado'">Eres un Invitado</p>
    <p *ngSwitchDefault>Rol no reconocido</p>
</div>

  ngClass
 <p [ngClass]="{'importante' : tareaImportante}">
    Esta tarea es importante
 </p>

 <p [ngStyle]="{color: isUrgente? 'red':'green', fontSize: '18px'}">
    Esta tarea es urgente!
 </p>


 <app-todo></app-todo>
 -->

 <app-product-manager></app-product-manager>